@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    
    --color-main: var(--text-main);
    --color-accent: var(--text-bold);
    --color-background: var(--background);
}

/* 4. Variables CSS nativas para tus colores */
:root {
    --text-main: #18191b;
    --text-bold: #0b0d13;
    --background: #f3f5f7;
}